In [2]:
import pandas as pd

In [46]:
df = pd.read_csv('C:/Users/axell/Desktop/INTEK PERU_01-31.csv', sep=';')

In [48]:
df.describe()

,Suc.,Caja,Ticket,Art.,Unid.,Venta,Dscto_Item,Dscto_Ticket,Dscto_Total,Monto S/.,Markup,Tipo doc,Tran.,Vend.
count,4402.000000,4402.000000,4402.000000,4.402000e+03,4402.000000,4402.000000,4402.000000,4402.000000,4402.000000,4402.000000,4402.000000,4402.000000,4402.000000,4.402000e+03
mean,20053.948205,77.700363,127146.436620,2.908034e+07,0.991140,29.721554,0.200302,0.000170,0.200473,17.511788,1.414732,1.021354,9.034984,4.453084e+05
std,24.278015,133.904647,87941.758179,8.724918e+05,0.350497,35.558346,1.810157,0.132229,1.814962,20.994926,0.146987,0.205576,7.021417,4.270152e+06
min,20021.000000,11.000000,62.000000,2.819475e+07,-4.000000,-299.000000,0.000000,-5.520000,-5.520000,-177.370000,0.000000,1.000000,2.000000,0.000000e+00
25%,20028.000000,23.000000,48414.000000,2.819477e+07,1.000000,7.900000,0.000000,0.000000,0.000000,4.680000,1.430000,1.000000,2.000000,4.352000e+04
50%,20049.000000,43.000000,120101.500000,2.923571e+07,1.000000,17.900000,0.000000,0.000000,0.000000,10.020000,1.430000,1.000000,3.000000,7.203000e+04
75%,20077.000000,79.000000,192885.250000,3.014177e+07,1.000000,39.500000,0.000000,0.000000,0.000000,23.430000,1.430000,1.000000,16.000000,2.312690e+05
max,20095.000000,899.000000,395149.000000,3.023229e+07,15.000000,299.000000,39.800000,3.000000,39.800000,177.370000,1.430000,3.000000,36.000000,8.280735e+07

In [35]:
df[['Art.', 'Unid.', 'Venta', 'Monto S/.']].groupby(['Art.', 'Descripción']).sum()

KeyError: 'Descripción'

In [29]:
df

          Unid.  Monto S/.
Art.
28194752      1      10.02
28194758      2     212.36
28194759     10     562.90
28194760     31    1087.25
28194762      1      82.46
...         ...        ...
30232283     27    1439.91
30232284     74    3065.18
30232285     37    1962.55
30232286      2     271.70
30232287      8     213.12

[87 rows x 2 columns]